
@if (siteMasterLoaded()) {
  <h2>Site Master List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Site Name</th>
        <th>Company</th>
        <th>City</th>
        <th>Country</th>
        <th>Address</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      @for (site of siteMasterList(); track site.id) {
        <tr>
          <td>{{ site.id }}</td>
          <td>{{ site.siteName }}</td>
          <td>{{ site.companyName }}</td>
          <td>{{ site.city }}</td>
          <td>{{ site.countryName }}</td>
          <td>{{ site.formattedAddress }}</td>
          <td>{{ site.siteState }}</td>
          <td>{{ site.siteZip }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <p>Loading site data...</p>
}
